.card-title {
  font-size: 18px;
}

.card-option-button {
  position: absolute;
  right: -8px;
}

.card-background {
  background-color: #ebecf0;
}

.taskHover:hover {
  background-color: #f4f5f7;
}

.list {
  display: inline-block;
  margin: 5px;
}

.align-left {
  text-align: left;
}
